.skill_container {
  min-height: 100vh;
  background-color: #2d2e32;
  padding-top: 50px;
}
.skill_left_container {
}

.skill_title h2 {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #00ab55;
  padding-top: 40px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.skill_card {
  background-color: #25262a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.skill_text_container {
  margin-bottom: 10px;
}

.skill_text_container h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: tomato;
  text-transform: capitalize;
}

.skill_text_container p {
  font-size: 16px;
  color: #ffff;
}

.fa-code {
  font-size: 24px;
  color: #333;
}

/* revolving styling */

.hero_left_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 100px;
}

.earth-container {
  position: relative;
  transform-style: preserve-3d;
}

.earth {
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: rotate-orbit linear infinite;
}

.planet {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.orbit1 {
  width: 50px;
  height: 50px;
  margin-top: -75px;
  margin-left: -75px;
  animation-duration: 10s; /* Adjust the duration as needed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rotate-orbit1;
}

.orbit2 {
  width: 100px; /* Adjust the size of the orbit path */
  height: 100px;
  margin-top: -25px; /* Half the height of the orbit path */
  margin-left: -25px; /* Half the width of the orbit path */
  animation-duration: 15s; /* Adjust the duration as needed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: rotate-orbit2;
}

/* Add more orbit styles and animations for additional planets */

@keyframes rotate-orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-orbit1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-orbit2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Add more keyframes for additional orbit animations */

@keyframes rotate-planet1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-planet2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hero_container {
    padding-top: 10px;
  }

  .hero-left {
  }

  .hero-left span {
    display: flex;
    gap: 5px;
  }

  .hero-left h1 {
    font-family: "Inter", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    margin-top: 10px;
    color: #00ab55;
  }
  .hero-left h4 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    color: #455d7a;
  }

  .hero_text p:first-child {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    color: #233142;
  }

  .team_text p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #233142;
  }

  .hero-right {
    padding-top: 20px;
  }

  .orbit4 {
    width: 20px;
    height: 20px;
    transform: translate(-45%, -45%);
  }

  .orbit6 {
    width: 20px;
    height: 20px;
    transform: translate(-55%, -55%);
  }

  .hero_left_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .hero-left h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.1rem;
    font-weight: 900;
    margin-top: 70px;
    color: #00ab55;
  }

  .hero-left h4 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;
    color: #455d7a;
  }

  .hero_text p:first-child {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    color: #233142;
  }

  .team_text p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #233142;
  }

  .hero_right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero_left_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .earth-container {
    position: relative;
    transform-style: preserve-3d;
  }
}

